{% extends "network/layout.html" %}
{% load static %}
{% block body %}
<div class="container">
<h1>All Posts</h1>
{% if user.is_authenticated %}
  <form>
      <div class="form-group">
        <label for="inputlg">New Post</label>
        <textarea class="form-control" id="inputlg" rows="6" placeholder="What do you dream about ?"></textarea>
      </div>
    
    <button type="submit" class="btn btn-primary">Post</button>
  
  </form>
{% endif %}
<div id="posts-view">
  <h2>Comments</h2>
</div>

</div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}