{% extends "network/layout.html" %}
{% load static %}

{% block body %}



<div class="container-fluid">


{% if user.is_authenticated %}
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="inputlg"></label>
      {{ form.content }}
    </div>
    
    <button type="submit" class="btn btn-primary">Post</button>
    
  </form>
  {% endif %}
</div>  




<div class="container">
  <div class="row">
      <div class="col-md-12 col-lg-5">
          <div class="card">
              
                      <div class="col text-center">



                              <div class="pagination">
                                <span class="step-links">
                                    {% if page_obj.has_previous %}
                                        <a href="?page=1">&laquo; first</a>
                                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                    {% endif %}

                                    <span class="current">
                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                    </span>

                                    {% if page_obj.has_next %}
                                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                    {% endif %}
                                </span>
                            </div>



                         
                          <h4 class="text-uppercase">
                            {{allPosts.count }} Posts</h4>
                          {% for post in page_obj %}
     
           
                              <small> {{post.date}} </small>
                            
                              <div id='{{ post.id }}' class="media-body">
                                {% if user.is_authenticated %}
                                <h4 class="media-heading user_name">by 
                                  <a href="{% url 'profile' username=post.author.user.pk%}">
                                {% endif %}
                                    {{post.author.user}}</h4></a>
                               
                                <p id='content'>{{post.content}}</p>
                                
                                <button id='like' type="submit" class="btn btn-primary" onclick="like( '{{ post.id }}', '{{ request.user }}' )">{{post.likes.count}}
                                  <i id="likethumb"onclick="thumb(this)" class="fa fa-thumbs-up"></i>
                                </button>
                                {% if user.is_authenticated and post.author.user == request.user%}
                                <input id="edit" type="submit" class="btn btn-success btn-rounded text-white text-uppercase font-14" value="edit" onclick="edit( '{{ post.id }}' )">
                                {% endif %}
                              </div>
          
                          {% endfor %}
                      </div>
                      
                      <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>

                  
                  
              </div>
              <div class="card-body border-top">
{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}

{% endblock %}

