{% extends "network/layout.html" %}
{% load static %}

{% block body %}


<div class="container">
  
  <div class="container-fluid">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-5">
                <div class="card">
                    <div class="p-4">
                        <div class="d-flex flex-row">
                            <div class=""><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" class="rounded-circle" width="100" /></div>
                            <div class="pl-4">
                                <h3>{{name}}</h3>
                                {% if user.is_authenticated %}
                                    {% if currentUser != name %}
                                    
                                    <input type="hidden" id="profile"  value="{{ name.pk }}">
                                    <input type="hidden" id="currentUser"  value="{{ currentUser.pk }}">
                                    <div id="follow-view"></div>
                                    
                                    <form method="post">
                                        {% csrf_token %}
                                            {% if is_following  %}
                                            <input type="submit" class="btn btn-warning btn-rounded text-white text-uppercase font-14" value="unfollow">
                                            {% else %}
                                            <input type="submit" class="btn btn-success btn-rounded text-white text-uppercase font-14" value="follow">
                                            {% endif %}
                                    </form>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                            <div class="col text-center">

                                

                                <h2 class="font-light">{{post_list.count}}</h2>
                                <h4 class="text-uppercase">Posts</h4>
                                
                                    <div class="pagination">
                                        <span class="step-links">
                                            {% if page_obj.has_previous %}
                                                <a href="?page=1">&laquo; first</a>
                                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                            {% endif %}
        
                                            <span class="current">
                                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                            </span>
        
                                            {% if page_obj.has_next %}
                                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                                                <a href="?page={{ ppage_obj.paginator.num_pages }}">last &raquo;</a>
                                            {% endif %}
                                        </span>
                                    </div>
                           
    

                                
    

                                {% for post in page_obj %}
                                <div id='{{ post.id }}' class="media-body">
                                    {% if user.is_authenticated %}
                                    <h4 class="media-heading user_name">by 
                                      <a href="{% url 'profile' username=post.author.user.pk%}">
                                    {% endif %}
                                        {{post.author.user}}</h4></a>
                                        <small> {{post.date}} </small>
                                    <p id='content'>{{post.content}}</p>
                                    {% if user.is_authenticated %}
                                    <button value="{{ post.likes.count }}" id='like' type="submit" class="btn btn-primary" onclick="like( '{{ post.id }}', '{{ request.user }}' )">
                                        <h6 id="likecount">{{ post.likes.count }}</h6>
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-suit-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                         <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                                       </svg>
                                         
                                       </button>
                                    {% endif %}
                                    {% if user.is_authenticated and post.author.user == request.user%}
                                    <input id="edit" type="submit" class="btn btn-success btn-rounded text-white text-uppercase font-14" value="edit" onclick="edit( '{{ post.id }}' )">
                                    {% endif %}
                                  </div>
                                {% endfor %}

                                        <div class="pagination">
                                            <span class="step-links">
                                                {% if page_obj.has_previous %}
                                                    <a href="?page=1">&laquo; first</a>
                                                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                                {% endif %}
            
                                                <span class="current">
                                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                                </span>
            
                                                {% if page_obj.has_next %}
                                                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                                                    <a href="?page={{ ppage_obj.paginator.num_pages }}">last &raquo;</a>
                                                {% endif %}
                                            </span>
                                        </div>

                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="card-body border-top">
                        
                        <hr />
                        <h4 class="font-medium text-center mt-4">Following</h4>
                        <ul class="list-style-none list-icons d-flex flex-item text-center pt-2">
                            <li class="col px-2">
                                <a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Shaina Chhatraliya">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" class="rounded-circle" width="50" />
                                </a>
                            </li>
                            <li class="col px-2">
                                <a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Nirav Joshi">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="user" class="rounded-circle" width="50" />
                                </a>
                            </li>
                            <li class="col px-2">
                                <a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Vishal Bhatt">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="user" class="rounded-circle" width="50" />
                                </a>
                            </li>
                            <li class="col px-2">
                                <a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="More">
                                    <button class="btn btn-circle btn-info text-white btn-lg" href="javascript:void(0)">
                                        
                                        
                                        {% if name.is_following.all == null %}
                                        0
                                        {% else %}
                                        {{name.is_following.all.count}}
                                        {% endif %}
                                    </button>
                                </a>
                            </li>
                        </ul>

                        <hr />
                        <h4 class="font-medium text-center mt-4">Followers</h4>
                        <ul class="list-style-none list-icons d-flex flex-item text-center pt-2">
                            <li class="col px-2">
                                <a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Shaina Chhatraliya">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" class="rounded-circle" width="50" />
                                </a>
                            </li>
                            <li class="col px-2">
                                <a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Nirav Joshi">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="user" class="rounded-circle" width="50" />
                                </a>
                            </li>
                            <li class="col px-2">
                                <a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Vishal Bhatt">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="user" class="rounded-circle" width="50" />
                                </a>
                            </li>
                            <li class="col px-2">
                                <a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="More">
                                    <button class="btn btn-circle btn-info text-white btn-lg" href="javascript:void(0)">
                                        {% if profile.followers == null %}
                                        0
                                        {% else %}
                                        {{profile.followers.count}}
                                        {% endif %}
                                        
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body border-top">
                        <ul class="list-style-none list-icons d-flex flex-item text-center">
                            <li class="col">
                                <a href="javascript:void(0)" class="text-muted" data-toggle="tooltip" title="" data-original-title="Website"><i class="fa fa-globe font-20"></i></a>
                            </li>
                            <li class="col">
                                <a href="javascript:void(0)" class="text-muted" data-toggle="tooltip" title="" data-original-title="twitter"><i class="fa fa-twitter font-20"></i></a>
                            </li>
                            <li class="col">
                                <a href="javascript:void(0)" class="text-muted" data-toggle="tooltip" title="" data-original-title="Facebook"><i class="fa fa-facebook-square font-20"></i></a>
                            </li>
                            <li class="col">
                                <a href="javascript:void(0)" class="text-muted" data-toggle="tooltip" title="" data-original-title="Youtube"><i class="fa fa-youtube font-20"></i></a>
                            </li>
                            <li class="col">
                                <a href="javascript:void(0)" class="text-muted" data-toggle="tooltip" title="" data-original-title="Linkdin"><i class="fa fa-linkedin font-20"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
          
         
  
  
</div>

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}

{% endblock %}

